header{
    font-size: 1em;

}
/*nav section*/
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}
header nav .nav-right{
    display: flex;
    align-items: center;
}
header nav .nav-right a{
    color: #445;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 1.2em;
}
header nav .nav-left .reglog-btn{
    border: solid 1px #665;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .nav-left .reglog-btn a{
    color: #665;
    margin: 5px 10px 0px 10px;
    font-size: 0.9em;
}
header nav .nav-left .reglog-btn a i{
    margin: 8px;
    color: #445;
}

/* slider section */
.slider{
    position: relative;
    font-size: 1em;
    box-shadow: 0 0 8px rgb(29, 27, 27);
    background-color: rgba(85, 198, 151, 0.5);
    border-radius:10px;
}
.slider .slides .item img{
    width: 100%;
}
.slider .slides .item{
    position: relative;
    display: none;
}
.slider .slides .active{
    display: block;
}
.slider .slides .item span{
    position: absolute;
    right: 10%;
    display: flex;
    top: 40%;
    font-size: 1.5em;
    color: #333;
}
.slider .prev,.next{
    color: rgba(255, 235, 205, 0.8);
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.prev{
    right: 5px;
}
.next{
    left: 5px;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: inline-block;
}
.dots{
    text-align: center;
}
.dot.active{
    background-color: #333;
    border: solid rgba(255, 0, 0, 0.5) 2px;
}